<% content_for :title do %>
  Logs
<% end %>

<article class='log row'>
  <header>
    <h1><%= yield :title %></h1>
  </header>
  <section>
    <table class='table'>
      <thead>
        <th class='col-sm-2'>Created at</th>
        <th class='col-sm-1'>Key</th>
        <th class='col-sm-9'>Message</th>
      </thead>
      <tbody>
        <% @logs.each do |log| %>
          <%= content_tag :tr, class: contextual_log_class(log.key) do %>
            <td><%= log.created_at %></td>
            <td><%= log.key %></td>
            <td><%= log.message %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
</article>
