<%= form_tag products_path, method: :get, class: 'row', role: 'form' do %>
  <fieldset class='col-sm-12 row'>
    <div class='form-group col-sm-2'>
      <%= label_tag 'maker', 'Maker' %>
      <%= select_tag( 'maker',
                      options_for_select(@makers_options, params[:maker]),
                      include_blank: true,
                      class: 'form-control'
                    ) %>
    </div>
    <div class='form-group col-sm-2'>
      <%= label_tag 'actress', 'Actress' %>
      <%= select_tag( 'actress',
                      options_for_select(@actresses_options, params[:actress]),
                      include_blank: true,
                      class: 'form-control'
                    ) %>
    </div>
    <div class='form-group col-sm-2'>
      <%= label_tag 'code', 'Code' %>
      <%= text_field_tag 'code', nil, class: 'form-control' %>
    </div>
    <div class='form-group col-sm-6'>
      <%= label_tag 'title', 'Title' %>
      <%= text_field_tag 'title', nil, class: 'form-control' %>
    </div>
  </fieldset>
  <% if user_signed_in? %>
    <fieldset class='col-sm-12 row'>
      <div class='form-group col-sm-2'>
        <%= label_tag 'min_rating', 'Min Rating' %>
        <%= select_tag( 'min_rating',
                        options_for_select(1..5, params[:min_rating]),
                        include_blank: true,
                        class: 'form-control'
                      ) %>
      </div>
      <div class='form-group col-sm-2'>
        <%= label_tag 'max_rating', 'Max Rating' %>
        <%= select_tag( 'max_rating',
                        options_for_select(1..5, params[:max_rating]),
                        include_blank: true,
                        class: 'form-control'
                      ) %>
      </div>
    </fieldset>
  <% end %>
  <fieldset class='col-sm-12 row'>
    <div class='form-group col-sm-2'>
      <%= submit_tag 'Go', class: 'btn btn-success' %>
    </div>
  </fieldset>
<% end %>