<%= form_tag products_path, method: :get, class: 'advanced-search-box row', role: 'form' do %>
  <fieldset class='col-sm-12 row'>
    <div class='form-group col-sm-2' ng-controller='MakerTypeaheadCtrl'>
      <%= label_tag 'maker', 'Maker' %>
      <%= text_field_tag( 'maker',
                          params[:maker],
                          class: 'form-control',
                          'ng-model' => 'selected',
                          autocomplete: 'off',
                          typeahead: 'maker for maker in makers | filter:$viewValue | limitTo:10') %>
    </div>
    <div class='form-group col-sm-2' ng-controller='ActressTypeaheadCtrl'>
      <%= label_tag 'actress', 'Actress' %>
      <%= text_field_tag( 'actress',
                          params[:actress],
                          class: 'form-control',
                          'ng-model' => 'selected',
                          autocomplete: 'off',
                          typeahead: 'actress for actress in actresses | filter:$viewValue | limitTo:10') %>
    </div>
    <div class='form-group col-sm-2' ng-controller='GenreTypeaheadCtrl'>
      <%= label_tag 'genre', 'Genre' %>
      <%= text_field_tag( 'genre',
                          params[:genre],
                          class: 'form-control',
                          'ng-model' => 'selected',
                          autocomplete: 'off',
                          typeahead: 'genre for genre in genres | filter:$viewValue | limitTo:10') %>
    </div>
    <div class='form-group col-sm-2'>
      <%= label_tag 'min_rating', 'Min Rating' %>
      <%= select_tag( 'min_rating',
                      options_for_select(1..5, params[:min_rating]),
                      class: 'form-control',
                      include_blank: true) %>
    </div>
    <div class='form-group col-sm-2'>
      <%= label_tag 'max_rating', 'Max Rating' %>
      <%= select_tag( 'max_rating',
                      options_for_select(1..5, params[:max_rating]),
                      class: 'form-control',
                      include_blank: true) %>
    </div>
    <div class='checkbox col-sm-2'>
      <label>
        <%= check_box_tag 'text_mode', 1, params[:text_mode] %>
        Text Mode
      </label>
    </div>
  </fieldset>
  <fieldset class='col-sm-12 row'>
    <div class='form-group col-sm-2' ng-controller='CodeTypeaheadCtrl'>
      <%= label_tag 'code', 'Code' %>
      <%= text_field_tag( 'code',
                          params[:code],
                          class: 'form-control',
                          'ng-model' => 'selected',
                          autocomplete: 'off',
                          typeahead: 'code for code in codes | filter:$viewValue | limitTo:10') %>
    </div>
    <div class='form-group col-sm-8' ng-controller='TitleTypeaheadCtrl'>
      <%= label_tag 'title', 'Title' %>
      <%= text_field_tag('title', params[:title], class: 'form-control') %>
    </div>
  </fieldset>
  <fieldset class='col-sm-12 row'>
    <div class='form-group col-sm-2'>
      <%= submit_tag 'Go', class: 'btn btn-success' %>
    </div>

  </fieldset>
<% end %>