<% content_for :title do %>
  <%= 'Reviewed' if params[:reviewed] %>
  Products
<% end %>

<article class='product row'>
  <header>
    <h1><%= yield :title %></h1>
  </header>
  <nav>
    <ul class='nav nav-tabs'>
      <%= content_tag :li, class: ('active' unless params[:reviewed]) do %>
        <%= link_to 'All', products_path %>
      <% end %>
      <%= content_tag :li, class: ('active' if params[:reviewed]) do %>
        <%= link_to 'Reviewed', products_path(reviewed: true) %>
      <% end %>
    </ul>
  </nav>
  <section>
    <table class='table'>
      <thead>
        <tr>
          <th class='col-sm-2'>Code</th>
          <th class='col-sm-8'>Title</th>
          <th class='col-sm-2'>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.code, product %></td>
            <td><%= link_to product.title, product %></td>
            <td>
              <%= render partial: 'rating', locals: { product: product } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</article>