<% content_for :title do %>
  Advanced Search
<% end %>

<article class='product row'>
  <header>
    <h1><%= yield :title %></h1>
  </header>
  <div class='panel-group' id='accordion'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title'>
          <a data-toggle='collapse' data-parent='#accordion' href='#advanced_search_box'>
            Search Terms
          </a>
        </h4>
      </div>
      <div id='advanced_search_box' class='panel-collapse collapse in'>
        <div class='panel-body'>
          <%= render 'advanced_search_box' %>
        </div>
      </div>
    </div>
  </div>
  <section>
    <%= paginate @products %>
    <%= render params[:text_mode] ? 'list_in_text' : 'list_in_thumbnail' %>
    <%= paginate @products %>
  </section>
</article>