<article class="product row">
  <header class="col-sm-12">
    <h1>
      <span><%= @product.code %></span>
      <span><%= @product.title %></span>
    </h1>
  </header>
  <section class="cover col-sm-8">
    <%= image_link_to @product.cover_image, class: "img-rounded" %>
  </section>
  <section class="details col-sm-4">
    <dl class="dl-horizontal">
      <%= dl_item("Actresses", @product.actresses) %>
      <%= dl_item("Actress Types", @product.actress_types) %>
      <%= dl_item("Directors", @product.directors) %>
      <%= dl_item("Brand", @product.brand) %>
      <%= dl_item("Genres", @product.genres) %>
      <%= dl_item("Label", @product.label) %>
      <%= dl_item("Scenes", @product.scenes) %>
      <%= dl_item("Series", @product.series) %>
      <%= dl_item("Movie Length", @product.movie_length) %>
      <%= dl_item("Release Date", @product.release_date) %>
      <%= dl_item("Maker", @product.maker) %>
      <%- if @product.page %>
        <dt>Source Page</dt>
        <dd>
          <%= link_to @product.page, target: "_blank" do %>
            <span class="glyphicon glyphicon-new-window"></span>
          <% end %>
        </dd>
      <%- end %>
    </dl>
  </section>
  <section class="description col-sm-12">
    <h2>Description</h2>
    <p><%= @product.description %></p>
  </section>
  <section class="samples col-sm-12">
    <h2>Sample Images</h2>
    <%- @product.sample_images.in_groups_of(6, false).each do |group| %>
      <div class="sample-group col-sm-12 row">
        <%- group.each do |image| %>
          <%= image_link_to image, class: "img-thumbnail col-sm-2" %>
        <%- end %>
      </div>
    <%- end %>
  </section>
</article>
