<% content_for :title do %>
  <%= @product.code %> <%= @product.title %>
<% end %>

<article class='product row'>
  <header class='col-sm-12'>
    <h1>
      <span><%= yield :title %></span>
      <small><%= @product.subtitle %></small>
    </h1>
  </header>
  <section class='ratings col-sm-12'>
    <span class='user-rating'>
      <%= render partial: 'products/rating', locals: { product: @product } %>
    </span>
    <%= rating_badge_span @product, class: 'average-rating' %>
  </section>
  <section class='cover col-sm-8'>
    <%= image_link_to @product.cover_image, {}, class: 'img-rounded' %>
  </section>
  <section class='details col-sm-4'>

    <dl class='dl-horizontal'>
      <%= product_spec('Actresses',
                       @product.actresses.map { |actress|
                         link_to_products_with_filter(actress: actress)
                       },
                       'female') %>
      <%= product_spec('Directors', @product.directors, 'male') %>

      <%= product_spec('Actress Types', @product.actress_types, 'tags') %>
      <%= product_spec('Boobs', @product.boobs, 'dot-circle-o') %>
      <%= product_spec('Brand', @product.brand, 'tag') %>
      <%= product_spec('Categories', @product.categories, 'folder-o') %>
      <%= product_spec('Genres', @product.genres, 'tags') %>
      <%= product_spec('Label', @product.label, 'tag') %>
      <%= product_spec('Scatologies', @product.scatologies, 'tags') %>
      <%= product_spec('Scenes', @product.scenes, 'tags') %>
      <%= product_spec('Series', @product.series, 'folder') %>
      <%= product_spec('Transsexualities', @product.transsexualities, 'tags') %>
      <%= product_spec('Theme', @product.theme, 'tag') %>

      <%= product_spec('Movie Length',
                       distance_of_time(@product.movie_length), 'clock-o'
                      ) if @product.movie_length %>
      <%= product_spec('Release Date', @product.release_date, 'calendar') %>

      <%= product_spec('Maker',
                       link_to_products_with_filter(maker: @product.maker),
                       'suitcase') %>
      <%= product_spec('Source Page',
                       link_to(URI(@product.page).host, @product.page, target: '_blank'),
                       'suitcase') %>
    </dl>
  </section>
  <% if @product.description %>
    <section class='description col-sm-12'>
      <h2>Description</h2>
      <p><%= @product.description %></p>
    </section>
  <% end %>
  <% if @product.sample_images.present? %>
    <section class='samples col-sm-12'>
      <h2>Sample Images</h2>
      <%- @product.sample_images.in_groups_of(6, false).each do |group| %>
        <div class='sample-group col-sm-12 row'>
          <%- group.each do |image| %>
            <%= image_link_to image, class: 'thumbnail col-sm-2' %>
          <%- end %>
        </div>
      <%- end %>
    </section>
  <% end %>
</article>

<% content_for :navbar_links do %>
  <li>
    <%= link_to product_path(@product), method: :delete do %>
      <%= icon_fa 'paper-plane', 'Report Error' %>
    <% end %>
  </li>
<% end %>