<article class='product row'>
  <header class='col-sm-12'>
    <h1>
      <span><%= @product.code %></span>
      <span><%= @product.title %></span>
      <small><%= @product.subtitle %></small>
    </h1>
  </header>
  <section class='cover col-sm-8'>
    <%= image_link_to @product.cover_image, {}, class: 'img-rounded' %>
  </section>
  <section class='details col-sm-4'>
    <dl class='dl-horizontal'>
      <%= dl_item('Actresses', @product.actresses, 'female') %>
      <%= dl_item('Directors', @product.directors, 'male') %>

      <%= dl_item('Actress Types', @product.actress_types, 'bookmark-o') %>
      <%= dl_item('Boobs', @product.boobs, 'dot-circle-o') %>
      <%= dl_item('Brand', @product.brand, 'bookmark') %>
      <%= dl_item('Categories', @product.categories, 'folder-o') %>
      <%= dl_item('Genres', @product.genres, 'bookmark-o') %>
      <%= dl_item('Label', @product.label, 'bookmark') %>
      <%= dl_item('Scenes', @product.scenes, 'bookmark-o') %>
      <%= dl_item('Series', @product.series, 'folder') %>
      <%= dl_item('Theme', @product.theme, 'bookmark') %>

      <%= dl_item('Movie Length', distance_of_time(@product.movie_length), 'clock-o') if @product.movie_length%>
      <%= dl_item('Release Date', @product.release_date, 'calendar') %>

      <%= dl_item('Maker', @product.maker, 'suitcase') %>
      <%= dl_item('Source Page',
                  link_to(URI(@product.page).host, @product.page, target: '_blank'),
                  'suitcase') %>
      </dl>
  </section>
  <section class='description col-sm-12'>
    <h2>Description</h2>
    <p><%= @product.description %></p>
  </section>
  <section class='samples col-sm-12'>
    <h2>Sample Images</h2>
    <%- @product.sample_images.in_groups_of(6, false).each do |group| %>
      <div class='sample-group col-sm-12 row'>
        <%- group.each do |image| %>
          <%= image_link_to image, class: 'thumbnail col-sm-2' %>
        <%- end %>
      </div>
    <%- end %>
  </section>
  <footer class='col-sm-12'>
    <%= link_to 'Report error', product_path(@product), method: :delete, class: 'btn btn-danger' %>
  </footer>
</article>
