<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-top'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='logo navbar-brand' href='/'>LibreDMM</a>
    </div>
    <div class='collapse navbar-collapse' id='navbar-top'>
      <% unless request.url == root_url %>
        <%= form_tag search_path, method: :get, class: 'navbar-form navbar-left' do %>
          <div class='form-group'>
            <%= text_field_tag 'q', nil, class: 'form-control input-sm'%>
          </div>
          <%= submit_tag 'Lucky', class: 'btn btn-success btn-sm' %>
          <%= link_to 'Advanced', products_path, class: 'btn btn-primary btn-sm' %>
        <% end %>
      <% end %>
      <ul class='nav navbar-nav navbar-right'>
        <%= yield :navbar_links %>
      </ul>
    </div>
  </div>
</nav>