<!DOCTYPE html>
<html ng-app='libredmm'>
<head>
  <title>
    <% if content_for? :title %>
      <%= yield :title %> |
    <% end %>
    LibreDMM
  </title>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class='container'>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/analytics' %>
</body>
</html>
