<!DOCTYPE html>
<html ng-app='libredmm'>
<head>
  <title>
    <% if content_for? :title %>
      <%= yield :title %> |
    <% end %>
    LibreDMM
  </title>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class='container'>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  <footer>
    <div class='container'>
      <span>Copyright © since 2014 LibreDMM All Rights Reserved</span>
      ·
      <a href='mailto: libredmm@gmail.com'>
        <%= icon_fa 'envelope-o', 'Contact Admin' %>
      </a>
    </div>
  </footer>
  <%= render 'layouts/analytics' %>
</body>
</html>
